{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{house.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Indx">Index</label>
            <input id="Indx" type="text" class="form-control" placeholder="Indx" name="Indx" value="{{house.Indx}}">
        </div>
        <div class="col">
            <label for="List_Price">List Price ($)</label>
            <input id="List_Price" type="text" class="form-control" placeholder="List Price"
                   name="List_Price" value="{{house.List_Price}}">
        </div>

    </div>

    <div class="row">
        <div class="col">
            <label for="Year">Year</label>
            <input id="Year" type="text" class="form-control" placeholder="Year" name="Year" value="{{house.Year}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}
