{% extends "layout.html" %}
{% block content %}
<form action="/houses/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Indx">House Index</label>
            <input id="Indx" type="int" class="form-control" placeholder="House Index" name="Indx">
        </div>

        <div class="col">
            <label for="LivingSpace">Living Space (sq ft)</label>
            <input id="LivingSpace" type="int" class="form-control" placeholder="Living Space" name="LivingSpace">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Beds">Beds</label>
            <input id="Beds" type="int" class="form-control" placeholder="Beds" name="Beds">
        </div>
        <div class="col">
            <label for="Baths">Baths</label>
            <input id="Baths" type="int" class="form-control" placeholder="Baths" name="Baths">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Zip">Zipcode</label>
            <input id="Zip" type="int" class="form-control" placeholder="Zip"
                   name="Zip">
        </div>
        <div class="col">
            <label for="Yr">Year</label>
            <input id="Yr" type="int" class="form-control" placeholder="Year "
                   name="Yr">
        </div>
        <div class="col">
            <label for="LstPrice">List Price ($)</label>
            <input id="LstPrice" type="int" class="form-control" placeholder="LstPrice" name="LstPrice">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}