{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ house.Indx }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Index {{ house.Indx }}</li>
        <li class="list-group-item">Living Space Sq Ft{{ house.LivingSpace }}</li>
        <li class="list-group-item">Beds {{ house.Beds }}</li>
        <li class="list-group-item">Baths {{ house.Baths }}</li>
        <li class="list-group-item">Zip {{ house.Zip }}</li>
        <li class="list-group-item">Year {{ house.Year }}</li>
        <li class="list-group-item">List Price {{ house.ListPrice }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{house.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{house.id}}" method="post"><button type="submit" class="btn btn-danger">Save</button></form>


{% endblock %}