{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ house.Indx }} - {{ house.LivingSpace }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ house.Indx }}</li>
        <li class="list-group-item">{{ house.LivingSpace }}</li>
        <li class="list-group-item">{{ house.Beds }}</li>
        <li class="list-group-item">{{ house.Baths }}</li>
        <li class="list-group-item">{{ house.Zip }}</li>
        <li class="list-group-item">{{ house.Year }}</li>
        <li class="list-group-item">{{ house.ListPrice }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{house.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{house.id}}" method="post"><button type="submit" class="btn btn-danger">Save</button></form>


{% endblock %}